<div id="elevator" class="container-fluid">
  <div class="row">
    <div class="col-md-6 text-center">
      <p class="bg-primary score">Score : {{score}} points</p>
      <table class="elevator table table-bordered">
        <tr>
          <td><span class="fa fa-male"></span> {{waitingUsers[5].length}}</td>
          <td ng-class="checkElevatorFloor(5)">{{nbInElevator(5)}}</td>
        </tr>
        <tr>
          <td><span class="fa fa-male"></span> {{waitingUsers[4].length}}</td>
          <td ng-class="checkElevatorFloor(4)">{{nbInElevator(4)}}</td>
        </tr>
        <tr>
          <td><span class="fa fa-male"></span> {{waitingUsers[3].length}}</td>
          <td ng-class="checkElevatorFloor(3)">{{nbInElevator(3)}}</td>
        </tr>
        <tr>
          <td><span class="fa fa-male"></span> {{waitingUsers[2].length}}</td>
          <td ng-class="checkElevatorFloor(2)">{{nbInElevator(2)}}</td>
        </tr>
        <tr>
          <td><span class="fa fa-male"></span> {{waitingUsers[1].length}}</td>
          <td ng-class="checkElevatorFloor(1)">{{nbInElevator(1)}}</td>
        </tr>
        <tr>
          <td><span class="fa fa-male"></span> {{waitingUsers[0].length}}</td>
          <td ng-class="checkElevatorFloor(0)">{{nbInElevator(0)}}</td>
        </tr>
      </table>
      <p><a class="btn btn-md btn-success" ng-click="launchBlocklyCode()" ng-disabled="inProgress">Launch <span class="glyphicon glyphicon-ok"></span></a>
      <a class="btn btn-md btn-danger" ng-click="inProgress=false" ng-disabled="evaluationMode || !inProgress">Stop <span class="glyphicon glyphicon-remove"></span></a>
      <a class="btn btn-md btn-warning" ng-click="launchBlocklyCode(true)" ng-disabled="inProgress">Submit  <span class="fa fa-paper-plane"></span></a></p>
    </div>
    <div class="col-md-6">
      <div class="console" ng-bind-html="console" scroll-glue></div>
    </div>
  </div>
</div>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" ng-class="{ active: activeNav == 'Blocks'}" ng-click="activeNav='Blocks'"><a>Blocks</a></li>
  <li role="presentation" ng-class="{ active: activeNav == 'Javascript'}" ng-click="activeNav='Javascript';jsCode=getJsBlocky()"><a>Javascript</a></li>
</ul>
<div class="row-fluid text-center">
  <iframe id="blocklyFrame" src="views/frame.html" ng-show="activeNav=='Blocks'"></iframe>
  <div id="jsFrame" ng-show="activeNav=='Javascript'"><pre>{{jsCode}}</pre></div>
  <p> <a class="btn btn-md btn-info"id="filesImport" ng-show="activeNav=='Blocks'" onClick="document.getElementById('files').click()">Import <span class="fa fa-upload"></span></a>
  <input class="hidden" type="file" id="files" name="files[]" />
  <a class="btn btn-md btn-info" ng-show="activeNav=='Blocks'" ng-click="save_blocks('myBlockly')">Export <span class="fa fa-download"></span></a></p>
</div>