<div class="jumbotron">
  <h1>Hello, Students !</h1>
  <p>Are you ready to code ?</p>
  <p><a class="btn btn-primary btn-lg" role="button" href="#elevator">Enter <span class="glyphicon glyphicon-arrow-right"></span></a></p>
  
</div>